.collection {
  position: relative;

  font-family: "Oswald", sans-serif;
  line-height: 1;

  &__header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2.5rem 2rem;
  }

  &__title {
    font-size: 8rem;
    text-transform: uppercase;
  }

  &__searchBox {
    width: 100%;
    margin: 4rem 0 2rem;
    position: relative;
    input {
      color: $black;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $black;
      width: 100%;
      font-size: 1.6rem;
      padding: 0.7rem 3rem;

      @include respond(tab-port) {
        font-size: 2rem;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__searchButton {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 8px;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  &__action {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      margin-top: 14rem;
    }
    @include respond(tab-port) {
      margin-top: 12rem;
    }
  }
  &__hide {
    cursor: pointer;
    line-height: inherit;
    font-family: inherit;
    font-size: 2.2rem;
    text-transform: uppercase;
    background-color: transparent;
    border: none;

    @include respond(tab-port) {
      display: none;
    }
  }
  &__filterBy {
    display: none;
    @include respond(tab-port) {
      width: 47vw;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 1px solid $black;
      border-radius: 2px;

      padding-left: 1rem;
      font-size: 2.4rem;
      font-family: inherit;
      line-height: inherit;
    }
  }

  &__filterList {
    width: 30vw;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(tab-port) {
      width: 47vw;
    }
  }

  &__totalProducts {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__showSize {
    display: flex;
    align-items: center;
    @include respond(tab-port) {
      display: none;
    }
    select {
      height: 4rem;
      background-color: transparent;
      padding: 0 1rem;
      font-size: 1.6rem;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  &__sortBy {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    @include respond(tab-port) {
      width: 100%;
      border: 1px solid $black;
      border-radius: 2px;
      padding: 1rem;
      font-size: 2.4rem;
    }
    position: relative;
  }
  &__filterList--active &__sortOption {
    display: flex;
  }
  &__sortOption {
    display: none;
    flex-direction: column;
    background-color: $white;
    padding: 1rem 0;
    margin-top: 1rem;

    box-shadow: 0 0 0 1px #3f3f440d, 0 1px 3px #3f3f4426;

    min-width: 22rem;
    width: 100%;

    position: absolute;
    z-index: 20;
    top: 100%;
    right: 0;

    span {
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
      cursor: pointer;

      @include respond(tab-port) {
        font-size: 1.6rem;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }
  }

  &__content {
    min-height: 100vh;
    display: flex;
    border-top: 1px solid $black;
  }
  &__filterProduct {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    min-width: 33.33vw;
    height: max-content;
    @include respond(tab-port) {
      display: none;
    }

    &--active svg {
      transform: rotate(-90deg) !important;
    }

    &--item {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.5rem 0;
      border-bottom: 1px solid $black;

      svg {
        width: 2rem;
        height: 2rem;
        transform: rotate(90deg);
      }
    }
    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &__list {
    margin-top: 1.5rem;
    list-style: none;
    display: none;
    max-height: 35rem;
    overflow: scroll;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.7rem 0;
    line-height: 1;

    &--active &--checkbox {
      background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='Polaris-Icon__Svg' focusable='false' aria-hidden='true'%3E%3Cpath fill='%235a5a5a' d='M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0'%3E%3C/path%3E%3C/svg%3E")
        center;
      background-size: 110%;
    }

    &:hover &--checkbox {
      border-color: #5a5a5a;
    }

    &--checkbox {
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid #c4cdd5;
      border-radius: 50%;
      margin-right: 0.7rem;
    }
    &--brand {
      font-size: 1.6rem;
      margin-right: auto;
    }
    &--count {
      font-size: 1.4rem;
    }
  }

  &__productsList {
    border-left: 1px solid $black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: max-content;

    @include respond(smallPhone) {
      grid-template-columns: 1fr;
    }
  }

  &__productsItem {
    position: relative;

    width: 100% !important;
    border-bottom: 1px solid $black;
  }

  &__menuMobile {
    font-family: "Oswald", sans-serif;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: $soft;
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;

    &--button {
      background-color: transparent;
      border: 1px solid $black;
      border-radius: 2px;
      height: 5rem;
      margin: 1.5rem;
      margin-top: auto;
      font-family: inherit;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  &__menuMobile &__filterProduct--item {
    padding: 1.5rem;
  }
  &__menuMobile &__item {
    padding: 1.5rem 0;

    &--checkbox {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1rem;
    }
    &--brand {
      font-size: 2rem;
    }
    &--count {
      font-size: 1.8rem;
    }
  }
  &__filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid $black;
    padding: 1.5rem;

    span {
      font-size: 2rem;
    }

    &--close {
      background-color: transparent;
      border: 1px solid $black;
      border-radius: 50%;
      display: flex;
    }
  }
}

.is-filter .collection__productsList {
  grid-template-columns: repeat(3, 33.33%);
  transform: translateX(-36.3vw);
  width: 100vw;

  @include respond(tab-land) {
    transform: translateX(-36.7vw);
  }

  @include respond(tab-port) {
    width: auto;
    transform: translateX(0);
    grid-template-columns: repeat(2, 50%);
  }
}
