.contact {
  width: 100vw;
  font-family: "Oswald", sans-serif;

  background-color: $black;
  color: $white;

  display: flex;
  flex-direction: column;
  user-select: text;

  &__header {
    display: flex;
    border-bottom: 1px solid $white;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__title {
    padding: 3.6rem 2.5rem;
    border-right: 1px solid $white;
    width: 51%;

    @include respond(tab-port) {
      padding: 3.4rem 2.3rem;

      width: 100%;
      border-right: none;
      border-bottom: 1px solid $white;
    }
  }

  &__heading--1 {
    font-size: 18rem;
    letter-spacing: -3px;
    line-height: 1;

    span {
      display: inline-flex;
      @include respond(tab-port) {
        &:nth-child(2) {
          &::before {
            content: "\00a0";
          }
        }
      }
    }
    @include respond(tab-land) {
      font-size: 14.8rem;
    }
    @include respond(tab-port) {
      font-size: 13rem;
    }
    @include respond(phone) {
      font-size: 11rem;
    }
    @include respond(smallPhone) {
      font-size: 8.5rem;
      letter-spacing: -2px;
    }

    @media only screen and (max-width: 340px) {
      font-size: 5rem;
      letter-spacing: -1px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 0 2.5rem;
  }

  &__text {
    width: 51%;
    font-size: 2.2rem;
    @include respond(tab-port) {
      width: 100%;
      font-size: 2.4rem;
    }
  }

  &__getInTouch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
      display: none;
    }

    svg {
      fill: $white;
    }
  }

  &__ball {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid $white;
    position: absolute;

    &--1 {
      left: 37%;
      background-color: $white;
    }

    &--2 {
      right: 37%;
    }
  }

  &__info {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__heading--4 {
    font-size: 3.5rem;

    @include respond(tab-land) {
      font-size: 3.2rem;
    }

    @include respond(tab-port) {
      font-size: 3.6rem;
    }
  }

  &__location,
  &__ctt,
  &__tradingHours,
  &__social {
    width: 50%;
    padding: 3.6rem 3.2rem;

    @include respond(tab-land) {
      padding: 3.4rem 3rem;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__location {
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    @include respond(tab-port) {
      border-right: none;
    }

    &--address {
      margin: 1.5rem 0;
      width: 14rem;
      font-size: 1.8rem;

      @include respond(tab-port) {
        margin: 1.9rem 0;
        width: 17rem;
        font-size: 2.2rem;
      }
    }

    &--link {
      font-size: 1.8rem;
      font-weight: 500;
      font-family: inherit;
      text-transform: uppercase;

      color: inherit;
      border: 1px solid $white;
      border-radius: 50px;

      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 17rem;
      height: 4.7rem;

      @include respond(tab-land) {
        width: 15rem;
        height: 4rem;
      }

      @include respond(tab-port) {
        width: 17rem;
        height: 5rem;
        font-size: 2rem;
      }
    }
  }

  &__ctt {
    border-bottom: 1px solid $white;
  }

  &__list {
    margin-top: 1.5rem;
    list-style: none;
  }

  &__item {
    font-size: 1.8rem;

    padding: 2px 0;

    @include respond(tab-port) {
      font-size: 2.2rem;
    }
  }

  &__link {
    color: inherit;
    transition: color 0.2s ease-out;

    &:hover {
      color: $yellow;
    }
  }

  &__tradingHours {
    border-right: 1px solid $white;

    @include respond(tab-port) {
      border-right: none;
      border-bottom: 1px solid $white;
    }

    &--item {
      display: flex;

      width: 100%;

      span {
        width: 50%;
      }
    }
  }
}

.underline {
  text-decoration: underline;
}
