.launches {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  &__header {
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__title {
    display: flex;
    font-size: 20vw;
    position: relative;
    white-space: nowrap;
    animation: titleAnimation 20s infinite linear;
  }

  &__group {
    width: 100vw;
    position: absolute;
    z-index: 10;
  }
  &__list {
    display: flex;
    gap: 5rem;
  }

  &__item {
    display: flex;
    width: 65% !important;
    border: 1px solid $black;
    background-color: $white;
  }
}
.launches__group .splide__track {
  padding: 0 25vw !important;

  @include respond(tab-land) {
    padding: 0 22vw !important;
  }
}

.launches .products__container {
  margin: 3rem;
}

.launches .products-card {
  @media only screen and (min-width: 1025px) {
    border-top: 1px solid $black;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
