.payment {
  display: flex;
  font-family: "Oswald", sans-serif;
  width: 100vw;
  height: 100vh;
  line-height: 1;

  @include respond(tab-port) {
    overflow: scroll;

    flex-direction: column;
  }

  position: relative;
  &__information {
    width: 55%;
    background-color: rgb(253, 251, 245);

    @media only screen and (min-width: 1025px) {
      overflow: scroll;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &--wrapper {
      margin-left: auto;
      padding: 5rem 5rem 0 0;
      width: 70%;
      @include respond(tab-port) {
        margin-right: auto;
        padding: 5rem 0 0;
      }
    }
  }
  &__logo {
    display: flex;
    margin-bottom: 2rem;
  }
  &__info {
    margin-bottom: 2rem;
  }
  &__title {
    display: inline-flex;
    font-weight: 400;
    font-size: 1.8rem;

    @include respond(tab-port) {
      font-size: 2.2rem;
    }
  }
  &__account {
    font-size: 1.5rem;

    @include respond(tab-port) {
      font-size: 1.9rem;
    }
    a {
      color: inherit;
    }
  }
  &__input {
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 1.2rem 1rem;
    width: 100%;
    border: 1px solid rgb(229, 213, 151);
    margin-top: 1.2rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    &:focus {
      border-color: $black;
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    label {
      cursor: pointer;
      font-size: 1.4rem;

      @include respond(tab-port) {
        font-size: 1.8rem;
      }
    }
  }
  &__checkbox--checked &__customCheckbox {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 0.8rem rgb(0, 0, 0) inset;
  }
  &__checkbox--checked &__checkmark {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
  &__customCheckbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 5px;
    border: 1px solid rgb(229, 213, 151);
    border-radius: 2px;
    cursor: pointer;
    transition: all cubic-bezier(0.3, 0.5, 0.5, 1) 0.2s;

    @include respond(tab-port) {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &__checkmark {
    opacity: 0;
    visibility: hidden;
    height: 0;
    position: absolute;
    top: 0.3rem;
    left: 0.4rem;

    svg {
      width: 1rem;
      height: 1rem;
      fill: $white;
    }
  }
  &__deliveryWrapper {
    margin-top: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgb(229, 213, 151);
  }
  &__method {
    display: flex;
    padding: 1.5rem;
    &:last-child {
      border-top: 1px solid #d9d9d9;
    }
    &--name {
      cursor: pointer;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      margin-left: 1rem;
      svg {
        margin-right: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .d-flex {
      align-items: center;
    }
  }
  &__method--checked &__radio {
    border: 0.6rem solid black;
  }
  &__radio {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border: 1px solid #d9d9d9;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all cubic-bezier(0.3, 0.5, 0.5, 1) 0.2s;
  }
  &__group {
    display: flex;
    gap: 1.5rem;
  }

  &__action {
    display: flex;
    align-items: centerk;
    justify-content: space-between;
  }
  &__returnCart {
    display: flex;
    align-items: center;
    color: $black;
    font-size: 1.4rem;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
  &__continueShipping {
    font-family: inherit;
    font-size: 1.6rem;
    cursor: pointer;
    width: 18rem;
    height: 5.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 191, 51);

    @include respond(tab-port) {
      font-size: 2rem;
    }

    &:hover {
      background-color: rgb(222, 168, 25);
    }
    &:focus {
      outline: none;
    }
  }
  &__footer {
    margin-top: 5rem;
    padding: 2rem 0;
    border-top: 1px solid rgb(229, 213, 151);
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  &__item {
    cursor: pointer;
    font-size: 1.4rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
  &__product {
    width: 45%;
    border-left: 1px solid rgb(208, 208, 208);
    background-color: rgb(246, 246, 246);

    @include respond(tab-port) {
      width: 100%;
      background-color: rgb(253, 251, 245);
    }

    &--wrapper {
      width: 60%;
      padding: 5rem 0 0 5rem;

      @include respond(tab-port) {
        margin: 0 auto;
        width: 70%;
        padding: 5rem 0;
      }
    }
  }
  &__productList {
    list-style: none;
    border-bottom: 1px solid rgb(208, 208, 208);
  }
  &__productItem {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__imageGroup {
    img {
      border: 1px solid rgb(229, 213, 151);
      background-color: rgb(253, 251, 245);
      border-radius: 5px;
      width: 6.4rem;
      height: 6.4rem;
      object-fit: cover;

      @include respond(tab-port) {
        width: 64px;
        height: 64px;
      }
    }
    position: relative;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: rgb(115 115 115 / 90%);
      top: -5px;
      right: -5px;
      color: $white;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
  &__productInfos {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  &__productTitle {
    font-size: 1.4rem;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
  &__productSize {
    font-size: 1.2rem;
    color: rgb(107, 107, 107);
    @include respond(tab-port) {
      font-size: 1.6rem;
    }
  }
  &__productPrice {
    font-size: 1.4rem;
    margin-left: auto;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
  &__discount {
    display: flex;
    border-bottom: 1px solid rgb(208, 208, 208);

    input {
      border-color: rgb(208, 208, 208);
      margin: 2rem 0 2rem 0;
    }
  }
  &__apply {
    font-family: inherit;
    font-size: 1.6rem;
    background-color: rgb(254, 191, 51);
    border: none;
    border-radius: 5px;
    width: 10rem;
    margin: 2rem 0 2rem 1.5rem;

    @include respond(tab-port) {
      width: 14rem;
      font-size: 2rem;
    }

    &:hover {
      background-color: rgb(222, 168, 25);
    }
  }
  &__totalPrice {
    margin-top: 2rem;
    &--wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      color: rgb(107, 107, 107);
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
      &:last-child {
        border-top: 1px solid rgb(208, 208, 208);
        padding-top: 3rem;
      }

      @include respond(tab-port) {
        font-size: 1.8rem;
      }
    }
    &--subtotal,
    &--total {
      color: $black;
    }

    &--total {
      font-size: 2rem;

      @include respond(tab-port) {
        font-size: 2.4rem;
      }
    }
  }

  &__backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__popup {
    display: none;
    font-family: "Oswald", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 85rem;

    &--active {
      display: block;
    }

    header,
    main {
      border-radius: 5px;
      padding: 2rem;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: rgb(253, 251, 245);
      border-bottom: 1px solid rgb(229, 213, 151);
    }
    h3 {
      font-weight: 400;
      font-size: 2.5rem;

      @include respond(tab-port) {
        font-size: 2.9rem;
      }
    }
    button {
      display: inline-flex;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 3.5rem;
      height: 3.5rem;

      @include respond(tab-port) {
        width: 4rem;
        height: 4rem;
      }
    }
    svg {
      width: 100%;
    }
    main {
      background-color: $white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      color: #545454;
      height: 60rem;
      overflow: scroll;
    }
    h1 {
      font-weight: 500;
      font-size: 3.5rem;
      @include respond(tab-port) {
        font-size: 3.9rem;
      }
    }
    ul {
      padding: 0 2.2rem;
    }
    li {
      font-size: 1.6rem;

      @include respond(tab-port) {
        font-size: 2rem;
      }
    }
    span,
    p {
      display: inline-block;
      font-size: 1.6rem;
      margin: 1.2rem 0;

      @include respond(tab-port) {
        font-size: 2rem;
      }
    }
  }
}

.rccs {
  margin: 1.2rem 0 0 0 !important;
  max-width: 300px !important;

  @include respond(smallPhone) {
    max-width: 260px !important;
  }

  &__card {
    max-width: 300px !important;

    @include respond(smallPhone) {
      max-width: 260px !important;
    }
  }

  &__name {
    @include respond(smallPhone) {
      font-size: 16px;
    }
  }
  &__number {
    @include respond(smallPhone) {
      font-size: 18px;
    }
  }
}
