.about {
  width: calc(100vw - 2.5rem * 2);

  line-height: 1;
  margin: 0 2.5rem;

  background-color: $black;
  color: $white;
  font-family: "Oswald", sans-serif;

  &__header {
    display: flex;
    position: relative;
    @include respond(phone) {
      margin-top: 1rem;
    }
  }

  &__title {
    font-family: "Bebas Neue", cursive;
    width: 100%;
    font-size: 28rem;
    span {
      display: flex;
      overflow: hidden;
    }
    @include respond(tab-land) {
      font-size: 23rem;
    }
    @include respond(tab-port) {
      font-size: 17rem;
    }
    @include respond(phone) {
      font-size: 13rem;
    }
    @include respond(smallPhone) {
      font-size: 10rem;
    }

    @media only screen and (max-width: 343px) {
      font-size: 6.5rem;
    }
  }

  &__scrollDown {
    position: absolute;
    bottom: 5%;
    right: 0;
    overflow: hidden;

    svg {
      fill: $white;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__banner {
    margin-top: 2rem;
    width: 100%;

    &--text {
      margin-top: 8rem;
      width: 70%;
      font-size: 3.5rem;

      @include respond(tab-land) {
        margin-top: 7rem;
        font-size: 3.2rem;
      }
      @include respond(tab-port) {
        margin-top: 5rem;
        font-size: 3rem;
        width: 100%;
      }
      @include respond(phone) {
        margin-top: 4rem;

        font-size: 2.8rem;
      }
      @include respond(smallPhone) {
        margin-top: 3rem;

        font-size: 2.6rem;
      }
    }
  }

  &__content {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      margin-top: 9rem;
    }

    @include respond(tab-port) {
      margin-top: 8rem;
      flex-direction: column;
    }
    @include respond(phone) {
      margin-top: 5rem;
    }
    @media only screen and (max-width: 343px) {
      margin-top: 2rem;
    }
  }

  &__text {
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.2rem;
    width: 36rem;

    &--title {
      @include respond(tab-port) {
        margin-bottom: 2.5rem;
      }
    }
    &--subtitle {
      @include respond(tab-port) {
        &:not(:last-child) {
          margin-bottom: 2.5rem;
        }
      }
    }

    @include respond(tab-land) {
      margin-left: 8rem;
      width: 30rem;
      font-size: 1.9rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
      margin-left: 0;
      width: 100%;
    }
    @include respond(phone) {
      font-size: 2.8rem;
    }
    @include respond(smallPhone) {
      font-size: 2.6rem;
    }
  }

  &__image {
    width: 51vw;
    @include respond(tab-port) {
      margin-top: 5rem;
      width: 100%;
    }
  }
  &__info {
    position: relative;
    margin-top: 8rem;

    @include respond(phone) {
      margin-top: 7rem;
    }
    @include respond(smallPhone) {
      margin-top: 6rem;
    }

    &--text {
      position: absolute;
      bottom: 5%;
      right: 0;
      width: 38rem;
      font-size: 2rem;

      @include respond(tab-land) {
        width: 29rem;
        font-size: 1.6rem;
      }
      @include respond(tab-port) {
        position: relative;
        margin-top: 2.5rem;
        width: 100%;
        font-size: 3rem;
      }

      @include respond(phone) {
        font-size: 2.8rem;
      }
      @include respond(smallPhone) {
        font-size: 2.6rem;
      }
    }
  }
  img {
    border: 1px solid $white;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.uppercase {
  text-transform: uppercase;
}

.arrow_svg__arrow-decor {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 1.2rem;
  fill: $white;
}
