.collection {
  position: relative;

  font-family: "Oswald", sans-serif;
  line-height: 1;

  &__header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2.5rem 2rem;
  }

  &__title {
    font-size: 8rem;
    text-transform: uppercase;
  }

  &__action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  &__hide {
    cursor: pointer;
    line-height: inherit;
    font-family: inherit;
    font-size: 2.2rem;
    text-transform: uppercase;
    background-color: transparent;
    border: none;

    @include respond(tab-port) {
      display: none;
    }
  }
  &__filterBy {
    display: none;
    @include respond(tab-port) {
      width: 47vw;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 1px solid $black;
      border-radius: 2px;

      padding: 1rem;
      font-size: 2.4rem;
      font-family: inherit;
      line-height: inherit;
    }
  }

  &__filterList {
    font-size: 2rem;
    display: flex;
    gap: 3rem;
    align-items: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__totalProducts {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.6rem;
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid $black;

    & > li {
      padding: 0.5rem 1rem;
      color: #b7b7b7;

      &:hover {
        color: #030303;
      }

      &.selected {
        color: #030303;
      }
    }

    .page-item {
      display: none;
    }
  }

  &__content {
    min-height: 100vh;
    display: flex;
    border-top: 1px solid $black;
  }

  &__filterMobile &__filterProduct {
    display: flex;
    margin: 0;
  }

  &__filterProduct {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    min-width: 33.33vw;
    height: max-content;
    @include respond(tab-port) {
      display: none;
    }

    &--active svg {
      transform: rotate(-90deg) !important;
    }

    &--item {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.5rem 0;
      border-bottom: 1px solid $black;

      svg {
        width: 2rem;
        height: 2rem;
        transform: rotate(90deg);
      }
    }
    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &__filteredList {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $black;
    @include respond(tab-port) {
      padding: 1.5rem;
    }
    h3 {
      display: inline-block;
      font-size: 2.4rem;
      text-transform: uppercase;
    }
  }
  &__filteredHeader {
    display: flex;
    justify-content: space-between;
  }

  &__clearAll {
    background-color: transparent;
    font-size: 2rem;
  }

  &__clearAll,
  &__filteredButton {
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
  }

  &__filteredGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
  }
  &__filteredButton {
    display: inline-flex;
    align-items: center;
    background-color: $black;
    color: $white;
    border-radius: 50px;
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;

    svg {
      margin-left: 0.6rem;
      width: 2.5rem;
      height: 2.5rem;
      fill: $white;
    }
  }

  &__filterProduct--active &__list {
    display: flex;
    flex-direction: column;
  }

  &__list {
    margin-top: 1.5rem;
    list-style: none;
    display: none;
    max-height: 35rem;
    overflow: scroll;
  }
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.7rem 0;
    line-height: 1;

    &--active &--checkbox {
      background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='Polaris-Icon__Svg' focusable='false' aria-hidden='true'%3E%3Cpath fill='%235a5a5a' d='M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0'%3E%3C/path%3E%3C/svg%3E")
        center;
      background-size: 110%;
    }

    &:hover &--checkbox {
      border-color: #5a5a5a;
    }

    &--checkbox {
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid #c4cdd5;
      border-radius: 50%;
      margin-right: 0.7rem;
    }
    &--name {
      font-size: 1.6rem;
      margin-right: auto;
    }
    &--count {
      font-size: 1.4rem;
    }
  }

  &__productsList {
    min-width: calc(100vw - (33.33vw + 5rem));
    border-left: 1px solid $black;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    height: max-content;
  }

  &__productsItem {
    position: relative;

    width: 50% !important;
    border-bottom: 1px solid $black;
    @include respond(smallPhone) {
      width: 100% !important;
    }
  }

  &__filterMobile {
    font-family: "Oswald", sans-serif;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: $soft;
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;

    &--toggle {
      left: 0% !important;
    }

    @media only screen and (min-width: 1025px) {
      display: none;
    }

    &--button {
      background-color: transparent;
      border: 1px solid $black;
      border-radius: 2px;
      height: 5rem;
      margin: 1.5rem;
      margin-top: auto;
      font-family: inherit;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  &__filterMobile &__filterProduct--item {
    padding: 1.5rem;
  }
  &__filterMobile &__item {
    padding: 1.5rem 0;

    &--checkbox {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1rem;
    }
    &--brand {
      font-size: 2rem;
    }
    &--count {
      font-size: 1.8rem;
    }
  }
  &__filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid $black;
    padding: 1.5rem;

    span {
      font-size: 2rem;
    }

    &--close {
      background-color: transparent;
      border: 1px solid $black;
      border-radius: 50%;
      display: flex;
    }
  }
}

.is-filter .collection__productsList {
  transform: translateX(-36.3vw);
  width: 100vw;

  @include respond(tab-land) {
    transform: translateX(-36.7vw);
  }

  @include respond(tab-port) {
    width: auto;
    transform: translateX(0);
    grid-template-columns: repeat(2, 50%);
  }
}

.is-filter .collection__productsItem {
  width: 33.33% !important;
}
