.launches {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  &__header {
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__title {
    display: flex;
    font-size: 20vw;
    position: relative;
    white-space: nowrap;
    animation: titleAnimation 20s infinite linear;
  }

  &__group {
    width: 100vw;
    position: absolute;
  }

  &__list {
    display: flex;
    list-style: none;

    &--variant {
      gap: 5rem;
    }
    &--all {
      border-top: 1px solid $black;
      width: 100vw;
      flex-wrap: wrap;
    }
  }
  &__item {
    display: flex;
    background-color: $white;

    &--variant {
      border: 1px solid $black;
      width: 65% !important;

      @include respond(tab-land) {
        width: 55% !important;
      }
    }
    &--all {
      border-bottom: 1px solid $black;
      width: calc(100% / 3);

      @media only screen and (min-width: 1025px) {
        &:not(:nth-child(3n)) {
          border-right: 1px solid $black;
        }
      }

      @include respond(tab-port) {
        width: calc(100% / 2);
      }

      @media only screen and (min-width: 501px) and (max-width: 1024px) {
        &:not(:nth-child(2n)) {
          border-right: 1px solid $black;
        }
      }

      @include respond(smallPhone) {
        width: calc(100%);
      }
    }
  }
}
.launches__group .splide__track {
  padding: 0 25vw !important;

  @include respond(tab-land) {
    padding: 0 22vw !important;
  }
}

.launches .products__container {
  margin: 3rem;

  @include respond(smallPhone) {
    margin: 4rem;
  }
}

.launches .products-card {
  @media only screen and (min-width: 1025px) {
    border-top: 1px solid $black;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
